* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.auth-form {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.auth-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

.button-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.submit-btn, .back-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
}

.submit-btn {
    background-color: #00796b;
    color: white;
}

.submit-btn:hover {
    background-color: #004d40;
}

.back-btn {
    background-color: #f9f9f9;
    color: #00796b;
    border: 1px solid #00796b;
}

.back-btn:hover {
    background-color: #00796b;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #00796b;
    color: white;
}
